*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: #252525;
}

.nav-bar-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 30px;
    margin-right: 300px;
    padding: 16px;
}
.nav-bar-main h2{
    font-size: x-large;
}
a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    
}
a:hover{
    color: orangered;
}
main{
    width:100%;
}
main > div{
    width: 100%;
}
.img{
    width: 100%;
    object-fit: cover;
}