*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: #252525;
}

.nav-bar-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 30px;
    margin-right: 300px;
    padding: 16px;
}
.nav-bar-main h2{
    font-size: x-large;
}
a{
    text-decoration: none;
    color: white;
    margin: 0 10px; 
}
.svg{
    align-items: center;
}

a:hover{
    color: orangered;
}
.banner{
    height: 91.5vh;
    width: 100vw;
    background-image: url(9aea97e74eb3be75769a40e86be9e4ea.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
 section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box{
    
    margin:auto;
    margin-top: 500px;
    /* border: 2px solid black;  */
    
}
.button{
    height: 50px;
    width:50px;
}